#header{
    height:80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.iconGroup{
    display: flex;
    align-items: center;
}

.headerRight{
    display: flex;
    align-items: center;
}

.headerRight .iconItem{
    margin: 0 10px;
    color: #555;
    
}

form{
    display: flex;
    align-items: center;
}

.searchBar{
    margin-right: 10px;
    
}



.search{
    color:#ffffff;
}

.headerLeft{
    font-weight: 800;
    font-size: 24px;
    color:#555;
}

.MuiFab-sizeSmall {
  
    background-color: #fff!important;
}

.fab{
   margin-left: 10px;
}