h2{
    text-align: center;
    padding-top:20px;
}

.menuItem{
    height:50px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    margin:12px 14px;
    color:#555;
   
    border-radius: 4px;
}



.active{
    box-shadow: 0 12px 20px -10px rgb(0 172 193 / 28%), 0 4px 20px 0 rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(0 172 193 / 20%);
    background-color: #00acc1;
    color:#fff;
}





.menuItem .menuLeft{
    margin-right: 14px;
    margin-left: 10px;
}

.container-outside{
    display: flex;
    width:100%;
 
    
} 

 .subRight{
    flex-basis: 80%;
   
}
 .subLeft{
    flex-basis: 20%;
    
}

.subRight{
    background-color: #eeeeee;
    min-height: 100vh;
}

.subLeft{
    color:#fff
}


.menuWrapper{
    margin-top: 30px;
}

.menuItem{
    display: flex;
    align-items: center;
}