
    
    .report {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
    .report{
        width:175px;
       margin: 10px;
       padding: 15px 15px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       display: block;
       font-size: 14px;
     }

     .report:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }

     .buttonContainer{
         margin:0 30px;
         display: flex;
         align-items: center;
         justify-content: space-between;
     }

     .buttonContainer .title{
         font-size: 22px;
         margin-left: 20px;
         color:#555;
     }
    
